$remarkalbe : remarkalbe;

$topic-color: #cdf533;//#d8ef7f;
$highlight-color: #ffff00;
$problem-color:  #ffccff;
$question-color:#FF87A4;
$word-color:#B9DFF1;
$tag-color:#FF5918;//#D10019;//#FD6C0B;//#007397;
$question-font-color:#fff;
$topic-trivial-color: #ccc;
$topic-current-color: #b50000;
$topic-current-bg-color: #cdf533;
$mark-tag:span;
@function get-selector($s){
		@return remarkalbe-#{$s}
}


/** mixins**/
@mixin 	apply-to-self-and-children($selector) {
		#{$mark-tag}.#{$selector}, #{$mark-tag}.#{$selector} > *:not(span) {
				@content
		}

}
@mixin rounded($side, $radius: 6px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}

@mixin before-tag($content){
		content : "#{$content}";
		font-weight : bold;
		background-color: #666;
		margin-right: 4px;
		color:#fff;
		padding: 1px 4px;
		border-radius : 4px 0 0 4px;
		font-style: normal;
		font-family:arial, helvetica, clean, sans-serif;
}
@mixin plain-before-tag(){
		background-color: #ddd;
		margin-right: 4px;
		color:#000;
		padding: 1px 4px;
		border-radius : 4px;
		font-style: normal;

}
@mixin mark-start($selector, $tag){
		#{$mark-tag}.remarkalbe-#{$selector}.remarkalbe-start:before {
			@include before-tag($tag)
		}
}
@mixin all-browser-style($attr, $value){
	@each $b in webkit, moz, o, ms{
		-#{$b}-#{$attr} : #{$value}
	}
	#{$attr} : #{$value}	
}
@mixin all-browser-style-function($attr, $function, $value){
	@each $b in webkit, moz, o, ms{
		#{$attr} : -#{$b}-#{$function}#{"("+$value+")"};
	}
}
@mixin stripes($gradient){
	@include all-browser-style("background-size", "40px 40px");
	@include all-browser-style-function("background-image", "linear-gradient", $gradient);
	@include all-browser-style("animation", "animate-bg 5s linear infinite");
}

/** remarkalbe-basic **/
#{$mark-tag}{
		font-style:normal !important;
}
#{$mark-tag}[remarkalbe] {
		padding-top:1px !important;
		padding-bottom:1px !important;
}
strong em {
		font-weight : bold;
}

/** topics **/
@mixin topic-basic{
		background-color: $topic-color;
		cursor: hand;
}

$topics : topic, topic-what, topic-how, topic-why, topic-good, topic-bad, topic-example;
$topics-label : "Topic", "What is it", "How it works", "Why?", "Good parts", "Bad parts", "Example";
$topics-trivial : topic-good, topic-bad, topic-example;
$topics-tags: "T", "W", "H", "Y", "G", "B", "E";
.remarkalbe-colorful{
		@each $t in $topics {
				@include apply-to-self-and-children(get-selector($t)){
						@include topic-basic;
				}
		}
		@for $i from 1 through length($topics) {
				@include mark-start(nth($topics, $i), nth($topics-tags, $i));
		}
		@each $t in $topics-trivial {
				@include apply-to-self-and-children(get-selector($t)){
						background-color: $topic-trivial-color;
				}
		}
		@include apply-to-self-and-children(get-selector("question")){
				//border-bottom:#FF0000 2px  solid;
				background-color:$question-color;

		}
		@include apply-to-self-and-children(get-selector("answer")){
				//border-bottom:#0000ff 2px  solid;
				background-color:$question-color;
		}
		@include apply-to-self-and-children(get-selector("highlight")){
				background-color : #FFFF00;
		}
		@include apply-to-self-and-children(get-selector("topic")){
				cursor : hand;
		}
		@include apply-to-self-and-children(get-selector("problem")){
				background-color: $problem-color;
		}
		@include apply-to-self-and-children(get-selector("word")){
				background-color: $word-color;
		}
		@include apply-to-self-and-children(get-selector("tag")){
				background-color: $tag-color;
				color:#fff;
		}
		.remarkalbe-current:before {
				background-color:$topic-current-color !important;
		}
		.remarkalbe-current{
				//background:$topic-current-bg-color !important;
		}
		i.remarkalbe-mark-tag{
				@include before-tag("");
		}
		.stripes-lighter{
				$gradient:135deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, transparent 75%, transparent;
				@include stripes($gradient)
		}
		.stripes-darker{
				$gradient:135deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 50%, rgba(0,0,0,.1) 50%, rgba(0,0,0,.1) 75%, transparent 75%, transparent;
				@include stripes($gradient);
				//background:#BBD2F0; 
		}
		@include mark-start(problem, "?");
		@include mark-start(answer, "A");
		@include mark-start(question, "Q");

}
@each $t in $topics {
	.remarkalbe-type-description[for="#{get-selector($t)}"] ~ .#{get-selector($t)}{
		text-indent:1.5em;
	}
}
i.remarkalbe-mark-tag{
	font-style:normal;
}

@include apply-to-self-and-children(get-selector("highlight")){
		background-color : #FFFFAD;
}

@include apply-to-self-and-children(get-selector("bold")){
		font-weight: bold;
}
@include apply-to-self-and-children(get-selector("italic")){
		font-style: italic !important;
}
@include apply-to-self-and-children(get-selector("underline")){
		text-decoration:underline;
}
@include apply-to-self-and-children(get-selector("restore")){
		text-decoration:none;
		font-style:normal !important;
		font-weight:normal;
		background:none;
}
.remarkalbe-start{
		@include rounded('top-left', 4px);
		@include rounded('bottom-left', 4px);
}
.remarkalbe-end{
		@include rounded('bottom-right', 4px);
		@include rounded('top-right', 4px);
}
@each $t in "tag", "highlight"  {
.#{get-selector($t)}.remarkalbe-start{
	padding-left:5px;
}

.#{get-selector($t)}.remarkalbe-end{
			padding-right:5px;
}
}

@include apply-to-self-and-children(get-selector("naming")){
		font-weight:bold;
		background-color:#333;
		color:#FFFFFF;

}
@-webkit-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}


@-moz-keyframes animate-bg 
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

.remarkalbe-readable-body {
	ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	li {
		margin-left:2em;
		padding:0;	
	}
	.remarkalbe-start:before{
		content:"" !important;
		display:none !important;
	}	
	dl{
		margin: 0px;
		dt {
				font-weight:normal;	
				.#{get-selector("topic")} {
						background:$topic-color;
						.remarkalbe-mark-tag{
								@include before-tag("");
						}
				}
		}

		dd{
				margin-left: 40px;
		}
		
	}
	.remarkalbe-readable-plain{	
			.#{get-selector("question")}, .#{get-selector("answer")}{
					background:none;
					.remarkalbe-mark-tag{
							@include plain-before-tag()
					}
			}
			.#{get-selector("problem")}{
					background:none;
					.remarkalbe-mark-tag{
							@include plain-before-tag()
					}
			}	
	}
}
.rmkb-pdf span[remarkalbe], span[remarkalbe] div{
    color:black;
}
.rmkb-pdf .textLayer span div  {
  position: absolute;
  line-height: 1;
  white-space: pre;
  cursor: text;
}
