@mixin rounded($side, $radius: 6px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}
@mixin all-browser-style-function($attr, $function, $value){
		@each $b in webkit, moz, o, ms{
				#{$attr} : -#{$b}-#{$function}#{"("+$value+")"};
		}
}
@mixin reset_element(){
	margin:0;
	padding:0;
	border:none;
	background:none;
}
#remarkalbe-topbar, #remarkalbe-view-nav{
		margin:0;
		padding:0;
		position:fixed;
		right:0;
		top:0;
        width:auto;
		background:#000;
		line-height:initial;
		//width:200px;
		@include rounded("bottom-left");
		z-index:2147483645;
		@include all-browser-style-function("background-image", "linear-gradient", "top, #666,#000");
		li.current{
				background: #999;
				box-shadow: inset 0 3px 9px rgba(0, 0, 0, .8);
				border-bottom: 1px solid black;
				border-left: 1px solid #333;
				border-right: 1px solid #333;

				#remarkalbe-shortcut-help {
				display:block;
				}
				a{
				color: white !important;
				}		
		}	

}
#remarkalbe-view-nav{
	right:40%;
	width:auto;
	z-index:2147483640;
	@include rounded("bottom-right");
	@include rounded("bottom-left");
	ul{
		margin:0px;
		padding:0px;
	}
	li {
		display:inline-block;
		padding:3px 4px 0px 4px;
		margin:0px;
	}
	li:first-child{
		@include rounded("bottom-left");
	}
	li:last-child{
		@include rounded("bottom-right");
	}
		[class^="icon-"] {
				display: inline-block;
				width: 32px;
				height: 32px;
				margin-top: 1px;
				line-height: 14px;
				vertical-align: text-top;
				background-repeat: no-repeat;
				background-image:url("../images/icon.png");
		}
}

.icon-full-view {
	background-position: 0px 4px;
}
.icon-outline-view {
	background-position: 0px -54px;
}
.icon-keypoint-view {
	background-position: 0px -112px;
}
#remarkalbe-topbar .remarkalbe-toolbar {
		@include reset_element();
		font-family: arial, helvetica, clean, sans-serif;
		text-align:left;
		//padding:.8em 0;
		padding-left:12px; 
		margin:0px;
        width:auto;
		>li{
				@include reset_element();
				margin: 0;
				margin-right:12px;
				padding: 8px 4px 10px 4px;	
				display: inline-block;
				font-size:14px;
		}
		>li a {
				@include reset_element();
				color:#eee ;
				background:none;
				text-decoration:none;
				font-size:14px;
		}
		>li.current{
				background: #999 !important;
				box-shadow: inset 0 3px 9px rgba(0, 0, 0, .8);
				border-bottom: 1px solid black;
				border-left: 1px solid #333;
				border-right: 1px solid #333;

				#remarkalbe-shortcut-help {
				display:block;
				}
				a{
				color: white !important;
				}		
		}	
		>li.current>a, >li>a:hover{
				@include reset_element();
				color: white !important;
		}
}
#remarkalbe-logo {
		@include reset_element();
		font-size:18px;
		font-weight:bold;
		font-family:Verdana, Arial, Helvetica, sans-serif;
}
.remarkalbe-readable-body .remarkalbe-for-origin, .remarkalbe-for-readable{
	display:none !important;
}
.remarkalbe-readable-body .remarkalbe-for-readable,.remarkalbe-for-origin {
	display:inline !important;
}
/** for shortcut-help **/
#remarkalbe-shortcut-help{
	background:#fff !important;
	position:absolute;
	padding:10px 20px;
	//margin:10px 0px;
	border:1px solid #ccc;
	border-radius: 5px;
	color:#666 !important;
	font-size:13px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px white inset;
	width:100%;
	left:0px;
	display:none;
}
.remarkalbe-toolbar #remarkalbe-shortcut-help ul {
	padding-left:10px;
}
.remarkalbe-toolbar #remarkalbe-shortcut-help ul li{
	padding:0px;
	display:block;
	margin:5px 0;
	font-size:12px;
	line-height:100%;
}
.remarkalbe-toolbar #remarkalbe-shortcut-help  div{
	font-weight:bold;
	margin:6px 0;
}

.remarkalbe-toolbar #remarkalbe-shortcut-help {
	a{
		color:#720303;
	}
	a:hover{
		text-decoration:underline;
	}	
	
}
kbd{
	padding: 0.1em 0.6em;
	border: 1px solid #CCC;
	font-size: 11px;
	font-family: Courier,Arial,Helvetica,sans-serif;
	background-color: #F7F7F7;
	color: #333;
	-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px white inset;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px white inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	margin: 0 0.3em;
	text-shadow: 0 1px 0 white;
	line-height: 1.4;
	white-space: nowrap;
	cursor: pointer;
}
#remarkalbe-notify {
	position: fixed;
	z-index:2147483644;
    left: 0;
    top: 0;
    padding: 4px;
    width: 100%;
    text-align: center;
    background: #FC288D !important;
    color: #fff !important;
    font-size: 12px;
	font-family: Courier,Arial,Helvetica,sans-serif;
	a, a:link, a:visited{
		color: #fff !important;
		text-decoration: none;
	}
}
#remarkalbe-notify{
	&:before{
		content: "\27A6";
		font-size: 14px;
		font-family: Arial;
		font-weight: bold;
		padding-right: 6px;
	}
		&.alert:before{
			content : "!";
		}
}

.remarkalbe-info-box {
    position: fixed;   
    top: 150px;   
    left: 40%;   
    z-index: 1010;   
    display: block;   
    width: 340px;   
    padding: 1px;   
    text-align: left;   
    white-space: normal;   
    background-color: white !important;   
    border: 1px solid #CCC;   
    border: 1px solid rgba(0, 0, 0, 0.2);   
    -webkit-border-radius: 6px;   -moz-border-radius: 6px;   
    border-radius: 6px;   
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);   -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);   
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);   
    -webkit-background-clip: padding-box;   -moz-background-clip: padding;   
    background-clip: padding-box;
}
.remarkalbe-info-box-title {
    padding: 8px 14px; margin: 0; font-size: 14px; font-weight: normal; line-height: 18px; background-color: #FC288D; border-bottom: 1px solid #EBEBEB; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;color:#fff;
}
.remarkalbe-info-box-content, .remarkalbe-info-box-buttons {
    padding: 9px 14px;
	line-height: 1.5;
	font-size: 13px;
	color:#000 !important;
}
.remarkalbe-info-box-buttons {
		text-align:center;
		a {
				color:#000;
				margin-right:2em;
				text-decoration:none;
		}
		a:last-child{
			margin-right:0;
		}
		.rmkb-btn{
				display: inline-block;
				padding: 4px 12px;
				margin-bottom: 0;
				margin-right:.5em;
				text-decoration:none;
				font-size: 14px;
				line-height: 20px;
				color: #333333;
				text-align: center;
				text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
				vertical-align: middle;
				cursor: pointer;
				background-color: #f5f5f5;
				background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
				background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
				background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
				background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
				background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
				background-repeat: repeat-x;
				border: 1px solid #bbbbbb;
				border-color: #e6e6e6 #e6e6e6 #bfbfbf;
				border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
				border-bottom-color: #a2a2a2;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
				filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
				-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
				-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
				box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		}
}
.remarkalbe-modal-bg{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .2);
		.remarkalbe-info-box{
				position:static;
				margin: 140px auto;

		}
}
.remarkalbe-btn-group{
		position: relative;
		display: inline;
		white-space: nowrap;
		vertical-align: middle;
		padding-right:22px;
		position:relative;
}
.remarkalbe-dropdown-menu{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	display:none;
	background-color: white !important;
	border: 1px solid #CCC;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;

	 li > a {
			display: block;
			padding: 3px 20px !important;
			clear: both;
			font-weight: normal;
			line-height: 20px;
			color: #333 !important;
			white-space: nowrap;
	}
	li > a:hover{
		text-decoration:underline;
	}
}
.remarkalbe-dropdown-toggle{
		cursor:hand;
		margin-left: 6px;
		position:absolute;
		right:0;
		z-index: 2000;
		height:0px;
		padding: 10px 5px 14px 5px;
		top: -3px;
		border-radius: 3px 3px 0 0;
		width:18px;
}
.remarkalbe-dropdown-toggle.active{
		background:#fff !important;
		border:none;
		.remarkalbe-caret{
			border-top:4px solid #000;
		}
		+.remarkalbe-dropdown-menu{
			display:block;
		}
}
.remarkalbe-btn{
	margin:0;
	border:0px;
	background:none;
}
.remarkalbe-caret {
		display: inline-block;
		width: 0;
		height: 0;
		vertical-align: top;
		border-top: 4px solid #fff;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		content: "";
}
#remarkalbe-views {
    width: 800px; margin: 0 auto; 
    border: 1px #C0C0C0 solid; 
	padding: 1em 18px; 
	border-top: none;
    border-bottom: none;
    height: 100%;
    background: #FFFEFA;
}
#remarkalbe-readable-body {
    margin: 0;
    padding: 0;
    background: rgb(231, 231, 231);
	font-family:"Lucida Grande",helvetica,Arial , Times New Roman, sans-serif;
	line-height:1.4;
}
#html {
    height: 100%;
}

#remarkalbe-topbar.remarkalbe-for-tablet {
	background:black;
	padding:0;
	border-radius:0;
	.remarkalbe-toolbar{
		padding:0;
	}
	.remarkalbe-toolbar > li {
		display:none !important;
	}
		
	#remarkalbe-save{
		display:block !important;
		padding:0px;
		margin:0px;
		a {
			display:inline-block !important;
			background:url(../images/save_tablet.png) no-repeat 3px 3px;
			width:32px;
			height:28px;
			text-indent:1000px;
			overflow:hidden;
		}

	}
	#remarkalbe-view-doc{
		display:none;
	}
	#remarkalbe-help{
		display:block !important;	
		padding:0;
	}
	.remarkalbe-btn-group{
		padding:0;
	}
	.remarkalbe-dropdown-toggle, #remarkalbe-help > a, kbd + span{
		display:none !important;
	}
	#remarkalbe-shortcut-help div{
		height: 5px;
		text-indent: 1000px;
		overflow: hidden;
		margin:0;
	}
	.keypoint-tools {
		background: #ffff00;
	}
	.topic-tools{
		background: #cdf533;
	}
	.utility-tools{
		background: #FF5918;
	}
	.key-i, .key-u {
		display:none;
	}
	#remarkalbe-shortcut-help {
		padding:0;
		border:none;
		border-radius:0;
		ul {
			padding:0;
			margin:0;
			li {
				padding:0;
				margin:0;
			}
		}
	}
	kbd{
		border:none;
		box-shadow : none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		border-radius:0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		font-size:16px;
		margin:0;
		padding: 5px 11px;
		font-weight:bold;
		//background:black;
		//color:white;
		&:hover, &:active{
			background:#BCBCBC;
		}
	}
}
