em{
		font-style:normal; !important

}
em[remarkalbe] {
		padding:1px 5px 1px 0; !important
}
em.remarkalbe-highlight {

		background:#FFFF00;
}
em.remarkalbe-highlight > *{

		background:#FFFF00;
}
em.remarkalbe-bold {
		font-weight: bold;
}
em.remarkalbe-bold > *{

		font-weight: bold;
}
em.remarkalbe-italic {
		font-style:italic ;!important
}	
em.remarkalbe-underline {
		text-decoration:underline;
}
em.remarkalbe-underline  > *{
		text-decoration:underline;
}
em.remarkalbe-restore, em.remarkalbe-restore > * {
		text-decoration:none;
		font-style:normal; !important
		font-weight:normal;
		background:none;
}
em.remarkalbe-question, em.remarkalbe-question > * {
		border-bottom:#FF0000 2px  solid;
}
em.remarkalbe-question.remarkalbe-start:before {
		content:" Q : ";
		font-weight:bold;
		color:#999;
}
em.remarkalbe-answer, em.remarkalbe-answer > * {
		border-bottom:#0000ff 2px  solid;
}
em.remarkalbe-answer.remarkalbe-start:before {
		content:" A : ";
		font-weight:bold;
		color:#999;
}
/**problem**/
em.remarkalbe-problem, em.remarkalbe-problem > *{
		background:#FFCCFF;
}
em.remarkalbe-problem.remarkalbe-start:before{
		content: " ? ";
		font-weight:bold;
		color:#FF0000;
}

em.remarkalbe-tag {
	background: #000;
	color:#fff;
}

/**start && end**/
em.remarkalbe-start{
}
em.remarkalbe-end{
}
/**naming**/
em.remarkalbe-naming {
		font-weight:bold;
		background:#333;
		color:#FFFFFF;
}

/**strong**/
strong em {
		font-weight : bold;
}

/** topic **/
em.remarkalbe-topic, em.remarkalbe-topic > * {
		background: rgb(205,245,51);
}
em.remarkalbe-topic-what, em.remarkalbe-topic-what > * {
		background: rgb(205,245,51);
}
em.remarkalbe-topic-how, em.remarkalbe-topic-how > * {
		background: rgb(205,245,51);
}
em.remarkalbe-topic.remarkalbe-start:before{
    content: " T ";
    font-weight: bold;
    background:#666;
    font-size:16px;
    margin-right:6px;
    color:#FFF;
    border-radius: 4px 0 0 4px;
    
}
em.remarkalbe-topic-why, em.remarkalbe-topic-why > * {
}
em.remarkalbe-topic-good, em.remarkalbe-topic-good > * {
}
em.remarkalbe-topic-bad, em.remarkalbe-topic-bad > * {
}
em.remarkalbe-topic-example, em.remarkalbe-topic-example > * {
}
/** toolbar **/
#remarkalbe-topbar{
		position:fixed;
		right:0;
		top:0;
		background:#000;
		width:200px;
		border-radius : 0 0 0 6px;
		z-index:2147483645;
}
#remarkalbe-topbar .remarkalbe-toolbar li{
		margin-right:1em;
		display:inline;
}
#remarkalbe-topbar .remarkalbe-toolbar {
		text-align:left;
		margin:.8em 0;
		padding-left:1em	; 
}
#remarkalbe-topbar .remarkalbe-toolbar li a {
		color:#eee;
		text-decoration:none;
		font-size:14px;
}
#remarkalbe-topbar .remarkalbe-toolbar li a:hover {
		color:#fff;
}
#remarkalbe-logo {
		font-size:18px;
		font-weight:bold;
		font-family:Verdana, Arial, Helvetica, sans-serif;
}


/**remarkalbe-view**/
#remarkalbe-view-simple h1,#remarkalbe-view-simple h2, #remarkalbe-view-simple h3, #remarkalbe-view-simple h4, #remarkalbe-view-simple h5, #remarkalbe-view-simple h6{
		display:none;
}
#remarkalbe-view-simple  em, #remarkalbe-view-simple em * {
		display:inline;
}
